body {
    //覆盖border-radius
    --border-radius-small: 4px !important;
    --border-radius-medium: 8px !important;
    --border-radius-large: 12px !important;
}

//设置一个下拉菜单的最大高度，防止内容过多时出现滚动条
.arco-dropdown-list-wrapper{
    max-height: 600px !important;
}
//修复select组件，选择好选项后，显示的高度错误
.arco-select-view-single .arco-select-view-input-hidden{
    position: relative !important;
}

//调整modal-simple
.arco-modal-simple{
    width: 300px !important;
    padding: 10px 15px !important;
    background-color: rgba(222, 222, 222, 0.9);

}
.arco-modal-simple .arco-modal-footer {
    margin-top: 16px !important;
    text-align: right !important;
}

//调整tooltip
.arco-tooltip{
    &-content{
        border-radius: 10px !important;
        background-color: rgba(201, 187, 187, 0.9) !important;
        color: #000 !important;
    }

}
.arco-trigger-arrow{
    background-color: rgba(201, 187, 187, 0.9) !important;
}

//调整特定的modal,使用iu-modal包裹，用于添加scroller
.iu-modal {
    .arco-modal-header {
        .arco-modal-title-align-start {
            justify-content: space-between !important;
        }

        .arco-modal-title-align-center {
            justify-content: space-between !important;
        }
    }
    .arco-modal-body{
        padding: 0 !important;
    }
}
html.dark {
    //调整暗色tooltip
    .arco-tooltip{
        &-content{
            background-color: rgba(55, 55, 57, 0.9) !important;
            color: #FFF !important;
        }
    }
    .arco-trigger-arrow{
        background-color: rgba(55, 55, 57, 0.9) !important;
    }
    .arco-modal-simple{
        background-color:rgba(35, 45, 55, 0.9);
    }
}

