@use "./variable.scss";
@use "./transition.scss";
@use "./myCss.scss";
@use "./arco.scss";

html,
body,
#app {
  height: calc(var(--vh) * 100);
  margin: 0;
  background-color: var(--main-bg-color);
  // min-width: 500px;
  // overflow: hidden; // 可禁用移动端下拉刷新
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(201,205,212,0.75);
  border-radius: 3px;
}

html.dark {
  ::-webkit-scrollbar-thumb {
    background-color: rgba(146, 146, 147,0.75);
  }
}

// 密码填充背景
input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}