@use "./variable.scss";
@use "./transition.scss";
@use "./element-plus.scss";
@use "./myCss.scss";
@use "./arco.scss";

html,
body,
#app {
  height: calc(var(--vh) * 100);
  margin: 0;
  background-color: var(--main-bg-color);
  // min-width: 500px;
  // overflow: hidden; // 可禁用移动端下拉刷新
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: 4px;
  height: 4px;
  border-radius: 5px;
}

//::-webkit-scrollbar-thumb {
//  background: #fbefb5;
//}

::-webkit-scrollbar,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: #991d28;
}

::-webkit-scrollbar-button {
  display: none;
}

html {
  scrollbar-color: #991d28 #fbefb5;
  scrollbar-width: thin;
}

html,
.scrollbar {
  scrollbar-arrow-color: #fbefb5;
  scrollbar-face-color: #fbefb5;

  scrollbar-highlight-color: #991d28;
  scrollbar-shadow-color: #991d28;
  scrollbar-track-color: #991d28;
  scrollbar-3dlight-color: #991d28;
  scrollbar-darkshadow-color: #991d28;
  scrollbar-base-color: #991d28;
}

// 密码填充背景
input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}