@import "./variable.scss";


html,
body,
#app {
  height: 100vh;
  margin: 0;
  min-width: 666px;
  overflow: hidden;
}
// 隐藏tab-bar 的滚动条
.tab-bar-box-scroll .el-scrollbar__bar.is-horizontal {
  height: 0px !important;
}