.logo_circle {
    border-radius: 50%;
    background-color: var(--main-bg-color);
    box-shadow: inset 8px 8px 12px var(--second-bg-color),
        inset -8px -8px 12px var(--login-white);
}

.login-container {
    background-color: var(--main-bg-color);
    color: var(login-black);
    height: calc(var(--vh) * 100);

    .login-son-container {
        background-color: var(--main-bg-color);
        overflow: hidden;
        box-shadow: 4px 4px 10px var(--second-bg-color),
            -4px -4px 10px var(--login-white);
    }
}

.side-menu {
    height: calc(var(--vh) * 100 - var(--header-bar-height));
}