:root {
    // header-bar
    --header-bar-height: 50px;
    --header-bar-bg-color: #fff;
    --header-bar-font-color: #000;
    // sidebar
    --sider-bar-width: 200px;
    --sider-bar-bg-color: #fff;
    --sider-bar-font-color: #000;
    --side-bar-logo-bg-color: #FAFAFA;
    --side-bar-logo-title-color: #000;

    // main
    --main-container-bg-color: #f2f3f5;
    --main-container-font-color: #000;

    // login
    --login-bg: #EDF2F0;
    --login-neu-1: #ecf0f3;
        --login-neu-2: #d1d9e6;
        --login-white: #f9f9f9;
        --login-white-fff: #fff;
        --login-gray: #a0a5a8;
        --login-black: #181818;
        --login-purple: #4B70E2;
        --login-transition: 1.25s;
// tab-bar
    --tab-bar-bg-color: #fff;
    --tab-bar-item-bg-color: #f2f8f5;
    --tab-bar-item-bg-radius: 5px;
    --tab-bar-item-height: 20px;
    --tab-bar-item-active-color: rgb(8, 8, 244);
    --tab-bar-item-active-bg-color: rgb(184, 193, 199);
}

// 面包屑
.el-breadcrumb {
    .no-redirect {
        color: #000 !important;
    }
}

// // element-plus
// html {
//     .el-menu {
//         // sidebar 菜单激活颜色
//         --active-color: #ff4080 !important;

//     }
// }

//  灰色主题
html.gray {
    filter: grayscale(100%) brightness(0.9);
}

// 暗色主题
html.dark {
    // header-bar
    --header-bar-bg-color: #000;
    --header-bar-font-color: #fff;
    // sidebar
    --sider-bar-bg-color: #000;
    --side-bar-logo-bg-color: #000;
    --side-bar-logo-title-color: #fff;
    // main
    --main-container-bg-color: rgb(14, 14, 14);
    --main-container-font-color: #fff;

    // login
    --login-bg: #1a1b1b;
        --login-neu-1: #1a1b1b;
        --login-neu-2: #1f232e;
        --login-white: #503a3a;
        --login-gray: #c3cfd8;
        --login-black: #d1c6c6;
        --login-purple: #8fa3e1;
        --login-transition: 1.25s;

    // 面包屑
    .el-breadcrumb {
        .no-redirect {
            color: #fff !important;
        }
    }
}

// 暗色主题
html.pink {
    --main-color-1: #CB1E83;
    --main-color-2: #F5319D;
    --main-bg-color: #FDCCE5;
    // header-bar
    --header-bar-bg-color: var(--main-color-1);
    --header-bar-font-color: #fff;
    // sidebar
    --sider-bar-bg-color: var(--main-color-2);
    --side-bar-logo-bg-color: var(--main-color-2);
    --side-bar-logo-title-color: #fff;
    // main
    --main-container-bg-color: var(--main-bg-color);
    --main-container-font-color: #fff;
    // 菜单背景颜色
    --el-menu-bg-color: var(--main-color-2);
    // 菜单激活颜色
    --el-menu-active-color: #fff;

    // 菜单激活颜色
    .el-menu-item.is-active {
        background-color: var(--main-color-1);
    }

    //  菜单悬停颜色
    .el-menu-item:hover,
    .el-sub-menu__title:hover {
        background-color: var(--main-color-1);
    }

    // 面包屑
    .el-breadcrumb {
        .no-redirect {
            color: #fff !important;
        }
    }
}

// classic主题
html.classic {
    --main-color-1: #0E42D2;
    --main-color-2: #165DFF;
    --main-bg-color: #94BFFF;
    // header-bar
    --header-bar-bg-color: var(--main-color-1);
    --header-bar-font-color: #fff;
    // sidebar
    --sider-bar-bg-color: var(--main-color-2);
    --side-bar-logo-bg-color: var(--main-color-2);
    --side-bar-logo-title-color: #fff;
    // main
    --main-container-bg-color: var(--main-bg-color);
    --main-container-font-color: #fff;
    // 菜单背景颜色
    --el-menu-bg-color: var(--main-color-2);
    // 菜单激活颜色
    --el-menu-active-color: #fff;

    // 菜单激活颜色
    .el-menu-item.is-active {
        background-color: var(--main-color-1);
    }

    //  菜单悬停颜色
    .el-menu-item:hover,
    .el-sub-menu__title:hover {
        background-color: var(--main-color-1);
    }

    // 面包屑
    .el-breadcrumb {
        .no-redirect {
            color: #fff !important;
        }
    }
}