:root {
    --vh: 100vh;
    // login
    --main-bg-color: #fff;
    --second-bg-color: #d1d9e6;
    --login-white: #f9f9f9;
    --login-gray: #a0a5a8;
    --login-black: #181818;
    //side-bar-used
    --side-bar-font-color: #000;
    --side-bar-logo-bg-color: #FAFAFA;
    --side-bar-logo-title-color: #000;
    // header-bar
    --header-bar-height: 40px;
    --header-bar-bg-color: #fff;
    --header-bar-font-color: #000;

    // main
    --main-container-bg-color: #f2f3f5;
    --main-container-font-color: #000;
    // tab-bar var
    --tab-bar-bg-color: var(--header-bar-bg-color);
    --tab-bar-item-bg-color: #e1ebe6;
    --tab-bar-item-bg-radius: 5px;
    --tab-bar-item-height: 22px;
    --tab-bar-operation-width: 80px;
    --tab-bar-item-active-color: rgb(8, 8, 244);
    --tab-bar-item-inactive-color: var(--side-bar-logo-title-color);
    --tab-bar-item-active-bg-color: rgb(184, 193, 199);
    // nav-bar
    --nav-bar-operation-width: 200px;
}

// 暗色主题
html.dark {
    // header-bar
    --header-bar-bg-color: #000;
    --header-bar-font-color: #fff;
    // sidebar
    --side-bar-bg-color: #000;
    --side-bar-logo-bg-color: #232324;
    --side-bar-logo-title-color: #fff;
    // main
    --main-container-bg-color: rgb(14, 14, 14);
    --main-container-font-color: #fff;
    // tab-bar-item
    --tab-bar-item-bg-color: #1c1c1c;
    --tab-bar-item-active-bg-color: rgb(45, 45, 45);
    // login
    --main-bg-color: #000;
    --second-bg-color: #1f232e;
    --login-white: #503a3a;
    --login-black: #d1c6c6;
}
